{% extends "layout.html" %}

{% block title %}
    Output
{% endblock %}

{% block main %}

    <div class="container mt-5">
        <div class="row align-items-start">
            <div class="col">
                {% if solution %}
                    {{ solution|safe }}
                {% endif %}
            </div>
            <div class="col">
                {% if solution %}
                    <img src="{{ url_for('static', filename='graph.png') }}" class="img-fluid" alt="Graph Visualization">
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}